@{
    ViewBag.Title = "Administrator";
}

<div ng-app="AdminModule">
    <div ng-controller="AdminController">
        <b>Current Users:</b>
        <table>
            <tr>
                <th style="text-align:center">
                    <b>No</b>
                </th>
                <th style="text-align:center">
                    <b>First Name</b>
                </th>
                <th style="text-align:center">
                    <b>Last Name</b>
                </th>
                <th style="text-align:center">
                    <b>Gender</b>
                </th>
            </tr>
            <tr ng-if="Count!=0" ng-repeat="user in Users">
                <td>{{user.ID}}</td>
                <td>{{user.FirstName}}</td>
                <td>{{user.LastName}}</td>
                <td>{{user.Gender}}</td>
            </tr>
        </table>
        <input type="checkbox" ng-model="allow"> Add a new user

        <form id="myForm" name="myForm" ng-submit="submit()" ng-hide="!allow">
            <br/>You can add a new user:<br/>
            <label>
                Solutation
                <select ng-model="newUser.Solutation" ng-options="y for y in Greetings" required>
                    <option></option>
                </select>
            </label>
            <br/>
            <label>
                First name
                <input type="text" ng-model="newUser.FirstName" required>
            </label>
            <br/>
            <label>
                Last name
                <input type="text" ng-model="newUser.LastName" required>
            </label>
            <br/>
            <label>
                Gender
                <select ng-model="newUser.Gender" ng-options="x for x in Genders" required>
                    <option></option>
                </select>
            </label>
            <input type="submit" id="submit" value="Submit"/>
        </form>

    </div>
</div>


@section Scripts    {
    <script type="text/javascript">
        var urls = {
            SaveMessage: "@Url.Content("~/api/Test/Messages/Add")",
            GetMessages: "@Url.Content("~/api/Test/Messages/GetAll")"
        }
    </script>
    <script type="text/javascript" src="~/Scripts/Admin/AdminController.js"></script>
}

