
<div ng-app="HomeModule">
    <div ng-controller="HomeController">
        Messages: 
        <div ng-repeat="message in Messages">
            {{message.Date}}: {{message.Text}}
            <br/>
        </div>
        <br />
        {{Person.Salutation}} {{Person.FirstName}} {{Person.LastName}}
        <br/>
        <div>
            Message: <input type="text" ng-model="NewMessage" />
            <button type="button" ng-click="SaveMessage()">
                Add Message
            </button>
        </div>
        <div>
            First Name: <input type="text" ng-model="Person.FirstName" />
            Last Name: <input type="text" ng-model="Person.LastName" />
        </div>
    </div>
</div>

@section Scripts
    {
        <script type="text/javascript">
            var urls = {
                SaveMessage: "@Url.Content("~/api/Test/Messages/Add")",
                GetMessages: "@Url.Content("~/api/Test/Messages/GetAll")"
            }
        </script>
        <script type="text/javascript" src="~/Scripts/Home/HomeController.js"></script>
    }